@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bg-cover-center {
    background-size: cover;
    background-position: center;
}

// Medium devices

@mixin tablet {
    @media screen and  (min-width: 576px) and (max-width: 768px) {
        @content;
    }
}

@mixin tablet-desktop {
    @media screen and  (min-width: 576px) {
        @content;
    }
}

// Large devices

@mixin desktop {
    @media screen and  (min-width: 768px) {
        @content;
    }
}
